.doctor-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
   flex-direction: column; /* Updated to column */
   align-items: flex-start; /* Align items to start */

    transition: transform 0.2s ease;
}
.doctor-card:hover {
    transform: translateY(-4px);
}
.doctor-card .doctor-card-header{
  display: flex;
   align-items: center;
   margin-bottom: 10px;
}
.doctor-card .doctor-icon {
    width: 30px;
    height: 30px;
     margin-right: 10px;
    object-fit: contain;
}
.doctor-card h3 {
    margin: 0;
    font-size: 18px;
    color: #2c3e50;
}

.doctor-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.doctor-card p strong {
    font-weight: bold;
    margin-right: 5px;
}
